.right{
	text-align: right;
}

.left{
	text-align: left;
}

.footer{
	font-size: 12pt;
}

.text{
	font-size: 14pt;
	text-align: justify;
}

 p {
    text-indent: 35pt; /* Отступ первой строки в пикселах */
   }
.sotr{
	width: 200px; 
	margin-bottom: 7px;
}